<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VU_LMS Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- <p>Shree Ganeshay Namah</p> -->

    
    {% block content %}
    <!-- Include another partial -->
    {% include 'partials/navbar.html' %}
    {% endblock %}

    <section class="flex justify-center items-center h-[80vh] flex-col">

        <div class="border-2 border-gray-300 w-[80%]">
            <form class="flex flex-col p-4 gap-y-5" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="flex flex-col gap-1">
                    <label>Email</label>
                    <input type="email" class="border-2 border-gray-300 p-1" id="email" name="user_mail" required>
                </div>
                <div class="flex flex-col gap-1">
                    <label>Password</label>
                    <input type="password" class="border-2 border-gray-300 p-1" id="password" name="password" required>
                </div>
                <div class="flex gap-x-1"><p>Registered not yet ? </p><a href="/users/" class="underline text-blue-600">Register</a></div>
                <button class="bg-blue-600 border-2 border-blue-800 text-white font-bold text-xl p-1">Login</button>
            </form>
        </div>
    </section>


</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    var message = "{{ message }}";
    var status = "{{status_code}}";
    if(status == 400)
        {
            Swal.fire({
            icon: "error",
            title: "Oops...",
            text: message,
            });
        }
      if(status == 200)
      {
         window.location.href = '/users/home'
      }
    
</script>
</html>