<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VU_LMS Books</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }
</style>

<body>
    <!-- <p>Shree Ganeshay Namah</p> -->

   
    {% block content %}
    <!-- Include another partial -->
    {% include 'partials/librarian_navbar.html' %}
    {% endblock %}
    <section class="">
        <div class="w-[40%] gap-y-4 flex flex-col">
            <div class=" absolute h-full w-full bg-[rgba(0,0,0,0.5)] flex justify-center items-center hidden"
                id="book_category_popup">
                <div
                    class="realtive border-2 border-blue-800 flex flex-col rounded-md shadow-[0_5px_15px_rgba(0,0,0,0.3)] bg-white">
                    <form id="add-category-form" method="post" class=" flex flex-col p-5 gap-y-4 ">
                        <p class="font-extrabold text-right text-xl text-red-500 hover:text-red-700 cursor-pointer"
                            onclick="close_popup('book_category_popup')">X</p>
                        <p class="text-center font-extrabold text-xl">Add Book Cateogry</p>
                        <label>Book Category</label>
                        <input type="text" name="book_category" id="book_category" placeholder="Enter book category"
                            required class="border-2 border-blue-300 hover:border-blue-800 p-1">
                        <button type="submit"
                            class="bg-blue-900 border-2 border-blue-600 text-white hover:bg-blue-700">Add Book
                            Category</button>
                    </form>
                </div>
            </div>
            <!-- Add Book Popup -->
            <div class=" absolute h-full w-full bg-[rgba(0,0,0,0.5)] flex justify-center items-center hidden"
                id="book_popup">
                <div
                    class="border-2 w-[60%] border-blue-800 flex flex-col rounded-md shadow-[0_5px_15px_rgba(0,0,0,0.3)] bg-white">
                    <form id="add-book" method="post" class=" flex flex-col p-5 gap-y-4 ">
                        <p class="font-extrabold text-right text-xl text-red-500 hover:text-red-700 cursor-pointer"
                            onclick="close_popup('book_popup')">X</p>
                        <p class="text-center font-extrabold text-xl">Add Book</p>
                        <select name="book_category_id" id="book_category_id"
                            class="border-2 border-blue-300 hover:border-blue-800 p-1">
                            <option value="" disabled selected>Select a category</option>
                            {% for category in book_categories %}
                            <option value="{{ category.book_category_id }}" name="book_category_id">{{
                                category.book_category }}</option>
                            {% endfor %}
                        </select>
                        <label>Book Name</label>
                        <input type="text" placeholder="Book Name" name="book_name" id="book_name"
                            class="border-2 border-blue-300 hover:border-blue-800 p-1">
                        <label>Book Author Name</label>
                        <input type="text" placeholder="Author Name" name="book_author_name" id="book_author_name"
                            class="border-2 border-blue-300 hover:border-blue-800 p-1">
                        <button type="submit"
                            class="bg-blue-900 border-2 border-blue-600 text-white hover:bg-blue-700">Add Book</button>
                    </form>
                </div>
            </div>
            <!--  -->
        </div>
        <button class="bg-blue-800 text-white m-4 p-4" onclick="open_popup('book_category_popup')">Add Book
            Cateogry</button>
        <button class="bg-blue-800 text-white m-4 p-4" onclick="open_popup('book_popup')">Add Book</button>

        <!-- Books Table  -->
        <div class="w-full overflow-scroll overflow-y-hidden px-1">
            <table class="w-full">
                <thead class="bg-blue-800 text-white">
                    <tr>
                        <th class="border border-blue-300 px-4 py-2 ">
                            <a
                                href="?sort_by=book_name&order={% if sort_by == 'book_name' and order == 'asc' %}desc{% else %}asc{% endif %}">
                                Book Name {% if sort_by == 'book_name' %} {% if order == 'asc' %}▲{% else %}▼{% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th class="border border-blue-300 px-4 py-2 ">
                            <a
                                href="?sort_by=book_author_name&order={% if sort_by == 'book_author_name' and order == 'asc' %}desc{% else %}asc{% endif %}">
                                Author Name {% if sort_by == 'book_author_name' %} {% if order == 'asc' %}▲{% else %}▼{%
                                endif %} {% endif %}
                            </a>
                        </th>
                        <th class="border border-blue-300 px-4 py-2 ">Category</th>
                        <th class="border border-blue-300 px-4 py-2 ">Action</th>

                    </tr>
                </thead>
                <tbody>
                    {% for book in page_obj %}
                    <tr class="hover:bg-blue-100">
                        <td class="border border-blue-300 px-4 py-2">{{book.book_name}}</td>
                        <td class="border border-blue-300 px-4 py-2">{{book.book_author_name}}</td>
                        <td class="border border-blue-300 px-4 py-2">{{book.book_category_id}}</td>
                        <td class="border border-blue-300 px-4 py-2 text-center"><button
                                class="border-red-300 border-2 p-1 text-white hover:bg-red-600 bg-red-500"
                                onclick="delete_book('{{book.book_id}}')">Delete</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="mt-5">
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            </div>

            <div class="flex float-right  mx-4">
                <ul class="flex gap-x-5 justify-center items-center">
                    {% if page_obj.has_previous %}
                    <li class="bg-blue-800 border-2 border-blue-600 hover:bg-blue-600 p-2 text-white text-sm"><a
                            href="?page={{ page_obj.previous_page_number }}&sort_by={{ sort_by }}&order={{ order }}">Previous</a>
                    </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="text-xl">{{ num }}</li>
                    {% else %}
                    <li class="text-xl"><a href="?page={{ num }}&sort_by={{ sort_by }}&order={{ order }}">{{ num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="bg-blue-800 border-2 border-blue-600 hover:bg-blue-600 p-2 text-white text-sm"><a
                            href="?page={{ page_obj.previous_page_number }}&sort_by={{ sort_by }}&order={{ order }}"><a
                                href="?page={{ page_obj.next_page_number }}&sort_by={{ sort_by }}&order={{ order }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>

</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>


    function delete_book(book_id) {
        $('#loader').fadeIn('fast');
        const csrfToken = '{{ csrf_token }}';
        $.ajax({
            type: 'POST',
            url: "/librarian/delete_book",
            data: {
                'book_id': book_id,
                'csrfmiddlewaretoken': csrfToken
            },

            dataType: 'json',
            success: function (data) {
                // Display the message in the div
                $('#loader').fadeOut('slow');
                Swal.fire(data.message);
                location.reload()

            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }


    function close_popup(element_id) {
        document.getElementById(element_id).style.display = 'none'
    }

    function open_popup(element_id) {
        document.getElementById(element_id).style.display = 'flex'
    }
    // Add Book Category
    // Handle the form submission using jQuery's AJAX
    $(document).ready(function () {

        // Add Book Category
        $('#add-category-form').on('submit', function (e) {
            $('#loader').fadeIn('fast');
            e.preventDefault(); // Prevent the form from submitting the traditional way

            const bookCategory = $('#book_category').val();
            const csrfToken = '{{ csrf_token }}';

            $.ajax({
                type: 'POST',
                url: "/librarian/add_book_category",
                data: {
                    'book_category': bookCategory,
                    'csrfmiddlewaretoken': csrfToken
                },
                dataType: 'json',
                success: function (data) {
                    // Display the message in the div
                                        Swal.fire({
                    title: "Success",
                    text: data.message,
                    icon: "success",
                    });
                    $('#loader').fadeIn('slow');
                    location.reload()
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });
        // Add Books 

        $('#add-book').on('submit', function (e) {
            $('#loader').fadeIn('fast');
            e.preventDefault(); // Prevent the form from submitting the traditional way

            const bookCategory = $('#book_category_id').val();
            const book_name = $('#book_name').val();
            const book_author_name = $('#book_author_name').val();
            const csrfToken = '{{ csrf_token }}';

            console.log(bookCategory, book_name, book_author_name)

            $.ajax({
                type: 'POST',
                url: "/librarian/add_book",
                data: {
                    'book_category_id': bookCategory,
                    'book_name': book_name,
                    'book_author_name': book_author_name,
                    'csrfmiddlewaretoken': csrfToken
                },

                dataType: 'json',
                success: function (data) {
                    // Display the message in the div
                    Swal.fire({
                    title: "Success",
                    text: data.message,
                    icon: "success"
                    });
                    $('#loader').fadeIn('slow');
                    location.reload()
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });

        // Delete Book



    });
    // 





</script>

</html>